body {
  display: flex;
  height: 100vh;
  flex-direction: column;
  overflow-y: hidden;
  align-items: center;
  justify-content: center;
  background: #ddd;
}

table {
  background: #ddd;
  margin-left: 320px;
  border-collapse: collapse;
}

tr {
  text-align: center;
}

th {
  min-width: 100px;
  padding: 15px;
}

td,
th {
  border: 1px solid black;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.row a {
  text-decoration: none;
  margin-left: 10px;
}
